<div class="jumbotron">
    <div class="row">
        <div class='col-sm-8'>
            <h2>Welcome to Demo project!</h2>
            <p>The Greytip difference is our pure HR focus (obsession?) and a rare blend of technical competence,
                quality service, and pragmatic design.</p>
            <p>You can expect effective & simple solutions developed with cutting edge technology and backed by reliable
                tech support. Our award winning HR solutions are highly appreciated by our customers.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="{% url 'contact' %}" role="button">Contact us &raquo;</a>
            </p>
        </div>
        <div class='col-sm-4'>
            <iframe width="350" height="300" src="https://www.youtube.com/embed/x37zzQJk-GM?rel=0&amp;showinfo=0"
                    frameborder="10px" allowfullscreen></iframe>
        </div>
    </div>
</div>